body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

section {
    margin-bottom: 150px;
}



.header {
    padding-top: 200px;
    padding-bottom: 300px;
    color: white;
    text-align: center;
    background-image: url("/images/donation6.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {

    font-size: 50px;
    color: white;
}

.header p {
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(207, 18, 18), rgb(218, 116, 21));
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.donate-text {
    text-align: center;
}

.donate-text h1 {
    font-size: 40px;
}

.donate-taka {
    display: flex;
    margin-left: 30%;
    margin-top: 40px;
}

.taka {
    color: gray;
    background-color: rgba(128, 128, 128, 0.034);
    text-align: center;
    width: 10%;
    margin-left: 1%;
    padding: 20px 5px;
    margin-bottom: 150px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.041);

}



.red-taka {
    color: rgb(243, 10, 10);
    background-color: rgba(243, 9, 9, 0.034);
    text-align: center;
    width: 10%;
    margin-left: 1%;
    padding: 20px 5px;
    margin-bottom: 150px;
    border-radius: 5px;
    border: 1px solid rgba(236, 7, 7, 0.938);
}

.footer {
    background-color: black;
    margin-bottom: 0;
    overflow: auto;
}

.red {
    color: rgb(236, 13, 13);

}

.amount {
    text-align: center;
}

.hr {
    width: 50%;
}

#footh3 {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

#lastfoot {
    color: rgb(168, 158, 158);
    text-align: center;
    padding-bottom: 50px;
}